body{
    font-family: 'Spartan', sans-serif;
    margin: 0px;
}

main{
    overflow: hidden;
}

ul{
    list-style: none;
    padding: 0px;
}

header{
    background-color: #CDB42F;
}

.navbar{
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
   
}

.hamburguesa{
    font-size: 30px;
    color: white;
    margin: 6px;
    padding-left: 50px;
    cursor: pointer;
}

.logo{
    height: 30px;
}

.logo-letra{
    font-size: x-large;
    color: white;
}

.user{
    margin: 10px ;
    color: white;
    padding-right: 10px;
    cursor: pointer;
}

.list-ventas{
    max-width: 1250px;
    width: 100%;
    margin: 50px;
    display: grid;


}

.subtitulo{
    font-size: xx-large;
    
}

.info-buscar{
    display: flex;
    align-items: center;
    font-size: x-large;
    margin: 0px;
}

.var-buscar-venta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    
}

.buscarventas{
    display: flex;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    padding: 4px;
    border-radius: 8px;
    width: 250px;
    
    margin-bottom: 25px;
    margin-top: 25px;
    margin-right: 15px;
    
}

input{
    background-color: #ebebeb;
    padding-left: 17px;
}

.buscarventas:focus-within{
    border:1px solid #c1c1c4;
}

.buscarventas > input{
    outline: none;
    border: 0px;
}

.iconobuscar{
    padding-left: 5px;
}

.btnregistroventa{
    width: 150px;
    height: 40px;
}

.main-table{

    display:flex;
    justify-content: center;
    align-items: center;
}

table{
    background-color: #fff7c8;
    text-align:center;
    width: 80%;
    border-collapse: collapse;
    border:solid 1px #BCBBC2;  
}

th, td{
    padding: 8px;
    font-size: 12px;
}

thead{
    background-color: white;
    border: solid 1px #BCBBC2;   
}


tr:nth-child(even){
    background-color: white;
}

.icono{
    cursor: pointer;

}

.iconotabla{
    size: 50px;
    color: #C69F15;
    cursor: pointer;
    font-size: medium;
    
}

.sub{
    display: flex;
    justify-content: left;
    margin: 35px ;
}

.botones-reg-venta{
    margin-right: 20%;
    margin-left: 20%;   
}

.botones-factura{
    display: flex;
    justify-content: space-between;
}

.boton{
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #f0c11a;
    background-color: #f0c11a;
    font-family: 'Spartan', sans-serif;
    cursor: pointer;
    
}

.boton:focus{
    border: 2px solid #C69F15;
}

.boton-form{
    width: 230px;
}

.id-fecha-factura{
    display: flex;
    justify-content: space-around;
    margin-bottom: 8px;
    
}

.area-cliente{
    display: flex;
    justify-content: space-between;
}

.cajaFormulario{
    max-width: 900px;
    width: 100%;
    padding: 10px;
    margin: 2px auto;
    border-top: 3px solid #CDB42F;
    display: grid;
 
    
}


.cajaFormulario .input_field label{
    width: 200px;
    margin-right: 10px;
    

}

.cajaFormulario .input_field .campoForm{

    outline: none;
    border: 1px solid #ADA7A7;
    background-color:white;
    border-radius: 5px;
    font-size: 15px;
    padding: 8px 10px;
}

.cajaFormulario .input_field .campoForm:focus{
    border: 1px solid #f0c11a;
}

.seccion-form{
    font-family: 'Spartan', sans-serif;

}

.esp-boton{
    margin: 10px auto;
    justify-content: center;

}

.secon-tabla{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100% auto;
}

.alert{
    background: rgb(67, 199, 67);
    padding: 20px 30px;
    min-width: 380px;
    position: absolute;
    right: 0px;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid green;
}

.alert .mostrar{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide{
    0%{
        transform: translateX(100%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

.alert .esconder{
    display: none;
}

.alert .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(1, 102, 1);
    font-size: 30px;
}

.alert .msg{
    padding: 0 25px;
    font-size: 18px;
    color: rgb(1, 102, 1);
}

.alert .boton-cerrar{
    position: absolute;
    right: 0px;
    top:50%;
    transform: translateY(-50%);
    background:rgb(27, 173, 27);
    padding: 20px 18px;
    cursor: pointer;
}

.alert-dos{
    background: rgb(238, 55, 42);
    padding: 20px 30px;
    min-width: 380px;
    position: absolute;
    right: 0px;
    top: 10px;
    overflow: hidden;
    border-radius: 4px;
    border-left: 8px solid rgb(204, 8, 8);
}

.alert-dos .mostrar{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide{
    0%{
        transform: translateX(100%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

.alert-dos .esconder{
    display: none;
}

.alert-dos .fa-exclamation-circle{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(150, 11, 11);
    font-size: 30px;
}

.alert-dos .msg{
    padding: 0 25px;
    font-size: 18px;
    color: rgb(150, 11, 11);
}

.alert-dos .boton-cerrar-2{
    position: absolute;
    right: 0px;
    top:50%;
    transform: translateY(-50%);
    background:rgb(228, 33, 33);
    padding: 20px 18px;
    cursor: pointer;
}

.boton-cerrar-2:hover{
    background:rgb(238, 55, 42);
}

.boton-cerrar-2 .fa-times{
    color: rgb(150, 11, 11);
    font-size: 22px;
    line-height: 40px;
} 

/*Actualizar ventas*/
.date-actualizar-vent{
    padding-top: 10px;
}

.seccion-date-actual-venta{
    width: 200px;
    margin: 10px;
    background: none;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ADA7A7;
    padding: 8px 10px;
}

.edit-ventas{
    outline: none;
    border: none;
    background: none;
    height: 20px;
    width: 50px;
    font-family: 'Spartan', sans-serif;
    text-align: center;
    padding: 0px;
}

.edit-ventas:focus-within{
    border-bottom: 1px solid #ADA7A7;
}

.caja-total-venta{
    width: 500px;
    margin-right: 20%;
    margin-left: 20%;

}

.total-venta{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.caja-estado-venta{
    width: 350px;
    
}

.opcion-estado-venta{
    margin-right: 30%;
}
.campo-estado-venta{

    font-family: 'Spartan', sans-serif;
    width: 200px;
    height: 30px;
    border-radius: 5px;
}
