body{
    font-family: 'Spartan', sans-serif;
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.subtitulo{
    font-size: xx-large;
    margin-top:25px;
    margin-left: 25px;
}

.info-buscar{
    display: flex;
    align-items: center;
    font-size: x-large;
}

.buscarventas{
    display: flex;
    border: 1px solid #ebebeb;
    background-color: #ebebeb;
    padding: 4px;
    border-radius: 8px;
    width: 250px;
    margin: 25px;
}

input{
    background-color: #ebebeb;
    font-size: 15px;
    padding-left: 17px;
}

.buscarventas:focus-within{
    border:1px solid #c1c1c4;
}

.buscarventas > input{
    outline: none;
    border: 0px;
}

.iconobuscar{
    padding-left: 5px;
   
}

.main-table{

    display:flex;
    justify-content: center;
    align-items: center;
}

table{
    background-color: #fff7c8;
    text-align:center;
    width: 80%;
    border-collapse: collapse;
    border:solid 1px #BCBBC2;
    
}

th, td{
    padding: 8px;
    font-size: 12px;
}

thead{
    background-color: white;
    border: solid 1px #BCBBC2;   
}

tr:nth-child(even){
    background-color: white;
}

.icono{
    cursor: pointer;
}

.iconotabla{
    size: 50px;
    color: #C69F15;
    cursor: pointer;
    font-size: medium;
    
}


