@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');
body{
    font-family: 'Spartan', sans-serif;
}
header{
    background-color: #CDB42F;
    border-collapse: collapse;
    border: 4px solid #C69F15;
    display: flex;
}
img{
    margin-left: 35%;
    padding: 10px;
}

footer{
    background-color: #CDB42F;
    height: 50px;
    border: 4px solid #C69F15;
}
.label1{
    color: white;
    margin-top: 35px;
    font-weight: bold;
}
.penta{
    margin-left: 25%;
}
.logo{
    margin-top: 30px;
    margin-left: 30%;
    display: flex;
}
.columna1{
    background-color: #CDB42F;
    width: 200px;
    height: 450px;
    border: 4px solid #C69F15;
}
.ventas{
    padding: 10px 0;
    margin-bottom: 20px;
}

.vendedores{
    padding: 10px 0;
    margin-bottom: 20px;
}

.usuarios{
    padding: 10px 0;
    margin-bottom: 20px;
}
.ventas:hover{
    background-color: #C69F15;
    
}

.ventas1{
    font-size: 20px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.vendedores:hover{
    background-color: #C69F15;
}

.vendedores1{
    font-size: 20px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.usuarios:hover{
    background-color: #C69F15;
}

.usuarios1{
    font-size: 20px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.parrafo1{
    color: white;
    font-weight: bold;
    margin: 10px 0 10px 90%;
}